/* Big tablets to 1200px (width smaller than 1140px row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    p { font-size: 80% }

    .row { padding: 0 2%; }
}


/* Small tablets to big tablets: from 768px to 1023px */
@media only screen and (max-width: 1023px) {

    .logo {
        width: 25%;
        height: 25%;
    }

    .disney-text-box { margin-left: 200px; }

    h1 { font-size: 180%; }
    h2 { font-size: 30px; }

    body { font-size: 18px; }
    section { padding: 60px 0; }

    .main-nav { font-size: 17px; }

    .long-copy {
        line-height: 145%;
        width: 80%;
        margin-left: 10%
    }

    .flight-text,
    .meals-text,
    .resort-text,
    .fastpass-text { 
        padding-top: 50px; 
    }

    .section-flights img { width: 60%; }

    .section-flights h2,
    .section-meals h2,
    .section-resort h2,
    .section-fastpass h2 { 
        font-size: 95%; 
    }

    .section-flights p,
    .section-meals p,
    .section-resort p,
    .section-fastpass p { 
        font-size: 65%; 
    }


    .section-flights .extra-info,
    .section-meals .extra-info,
    .section-resort .extra-info,
    .section-fastpass .extra-info { 
        font-size: 65%;
    }

    .section-fastpass .btn {
        font-size: 90%;
    }
}


/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 14px; }
    section { padding: 30px 0; }

    .row,
    .hero-text-box { padding: 0 4%; }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    .main-nav { display: none; }
    .mobile-nav-icon { display: inline-block; }

    .main-nav {
        float: left;
        margin-top: 35px;
        margin-left: 25px;
    }

    .main-nav li {
        display: block;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }

    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon i { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }

    h1 { font-size: 180%; }
    h2 { font-size: 150%; }
}

.mobile-size { font-size: 140%; }

/* Small phones: from 0px to 480px */
@media only screen and (max-width: 480px) {
    section { padding: 25px 0; }
    h1 { font-size: 110%; }

    header { background-size: auto; }
    .section-meals { background-size: auto; }
    .section-fastpass { background-size: auto; }
}