/*
Site Link: disney.surge.sh
Directory for Terminal to upload: cd /volumes/sdd/Web\ Development/Disney\ Countdown\ Site/

Disney Color: #1d96d7
   
Disney Font
    font-family: 'WaltographRegular'; 
    font-weight: normal; 
    font-style: normal;

Regular Font
    font-family: 'Nunito','Helvetica','Arial', sans-serif;
*/

/* ------------------------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #1d96d7;
    font-family: 'Nunito','Helvetica','Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

section {
    padding: 80px 0px;
}

.box {
    padding: 1%;
}

/* ------HEADINGS------ */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase; 
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 180%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 140%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

p {
    margin-left: -30px;
    font-size: 30px;
}

.section-meals p {
    margin-left: 65px;
}

.section-resort p {
    color: #fff;
}

.section-fastpass p {
    margin-left: 80px;
}

/* ------BUTTONS--------- */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #1d96d7;
    border: 1px solid #1d96d7;
    color: #fff;
    margin-right: 15px;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: rgb(26, 111, 157);
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid rgb(26, 111, 157);
}

/* ------------------------------------------------------- */
/* HEADER */
/* ------------------------------------------------------- */

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url(img/Disney%20Header.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/Disney%20Header.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.disney-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    height: 200px;
    width: auto;
    float: left;
    margin-top: 20px;
}

/* Main navi */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 100px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 120%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #1d96d7;
}

/* Sticky Navi */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.88);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav { 
    margin-top: 10px;
    margin-bottom: 13px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
}

.sticky .logo { 
    width: 100px;
    height: 50px;
    margin-top: 5px;
}
.sticky .logo-black {
    display: block;
}

/* ------------------------------------------------------- */
/*FEATURES */
/* ------------------------------------------------------- */

.section-flights .long-copy {
    margin-bottom: 30px;
}

.disney-text-box .demo {
    font-size: 200px;
}

/* ------------------------------------------------------- */
/* FLIGHTS */
/* ------------------------------------------------------- */

.section-flights { 
    padding: 0px;
    background-image: url(img/Plane%20flight%20Background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.section-flights .logo {
    margin-top: 100px;
    height: 200px;
    width: auto;
    float: left;
}

.section-flights h2 {
    font-size: 200%;
    padding-top: 150px;
    color: #000000;
}

.section-flights .flight-data {
    text-align: left;
    font-size: 120%;
}

.section-flights-button {
    margin-left: 150px;
}

/* ------------------------------------------------------- */
/* MEALS */
/* ------------------------------------------------------- */

.section-meals { 
    padding: 0px;
    background-image:  -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url(img/Chef%20Mickeys.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/Chef%20Mickeys.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.section-meals .logo {
    margin-top: 100px;
    margin-left: 55px;
    height: 300px;
    width: auto;
    float: left;
}

.section-meals h2 {
    font-size: 200%;
    padding-top: 150px;
    padding-left: 450px;
    margin-bottom: 80px;
    text-align: left;
}

.section-meals-button {
    margin-left: 0px;
}



/* ------------------------------------------------------- */
/* RESORT */
/* ------------------------------------------------------- */

.section-resort { 
    padding: 0px;
    background-image: url(img/Disney%20Port%20Orleans%20Background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.section-resort .logo{
    height: 250px;
    margin-top: 100px;
    margin-bottom: 25px;
    width: auto;
    float: left;
}

.section-resort h2 {
    color: #fff;
    margin-top: 150px;
    font-size: 150%;
}

.section-resort-button {
    margin-left: 90px;
}

.map {
    margin-left: 200px;
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 300px;
}

/* ------------------------------------------------------- */
/* FASTPASS */
/* ------------------------------------------------------- */

.section-fastpass { 
    padding: 0px;
    background-image:  -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/FastPass%20Background.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/FastPass%20Background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.section-fastpass .logo {
    margin-top: 100px;
    margin-left: 50px;
    height: 250px;
    width: auto;
    float: left;
}

.section-fastpass h2 {
    font-size: 150%;
    padding-top: 150px;
    padding-left: 450px;
    margin-bottom: 80px;
    text-align: left;
}

.section-fastpass-button {
    margin-left: -25px;
}